  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <%= render 'dashboard/shared/card' %>
        <%= render 'dashboard/shared/accept_sugestion' %>
      </div>
      <div class="row">
        <%= render 'dashboard/shared/sugestion' %>
      </div>
    </div>
    <br><br>
  </div>