<div class="row bottom">
    <div class="col m7ths s9">
        <%= render 'dashboard/shared/sugestion' %>
    </div>
    <div class="col m3ths s3 rowt">
        <%= render 'dashboard/shared/accept_sugestion' %>
    </div>
</div>
  