<div class="nested-fields">
  <div class="input-field col s6">
    <%= f.collection_select :information_type_id, @information_types, :id, :name_with_initial, prompt: "Select a category" %>   
  </div>  
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>   
  <%= link_to_remove_association "#{translate 'devise.shared.links.remove'}", f %>
  <br><br><br>
</div>
