<div class="container">
        <h5>Combination/Match</h5>
    <div class="section">
        <div class="row">
        <%= render 'combinations/shared/combination' %>
        </div>
    </div>
    <br><br>
</div>         
 