<div class="page-footer">
    <div class="container">
      <div class="copyright">
        <b>
          <a class="copyright-link" href="#">Created By Encontre-me</a>
        </b>
      </div>
    </div>
  </div>