@import "owlcarousel2/owl.carousel";
@import "materialize";
@import "material_icons";
@import "shared/_footer";

input[type="submit"] { color: white;}
select{ display: block; }

.row.bottom{
   margin-top: 80px;
}

.rowt{
   margin-top: 20px;
}