body {
  background: image-url("/images/background.jpg") center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home {
  margin-top: 10%;
  .home-icon{
    color: #ff6e40;
    font-size: 24px;
  }
  .home-button{
    background-color: #ff6e40;
  }
  .title {
    color: #ffffff;
  }
  .subtitle{
    color: #ffffff;
    margin-bottom: 30px;
  }
  .subtitle2{
    color: #ff6e40;
    margin-bottom: 40px;
  }
}
  