
  <div class="container">
        <div class="section">
          <div class="row">
            <%= render 'sugestions/shared/card_sugestion' %>
          </div>
        </div>
        <br><br>
</div>