<div class="col s6 m4">
        <h5>Accept Sugestions</h5>
        <div class="card">
                <div class="card-content">
                        <ul class="collection">
                            <a href="#!" class="collection-item">Alvin</a>
                            <a href="#!" class="collection-item active">Alvin</a>
                            <a href="#!" class="collection-item">Alvin</a>
                            <a href="#!" class="collection-item">Alvin</a>
                        </ul>
                </div>
            </div>
</div>

