<div class="col s6 m4">
  <h5><%= translate 'helpers.dashboard.accept_suggestion'%></h5>
  <div class="card">
    <div class="card-content">
        <ul class="collection">
          <a href="#!" class="collection-item">Robert</a>
          <a href="#!" class="collection-item active">Alfredo</a>
          <a href="#!" class="collection-item">Rubens</a>
          <a href="#!" class="collection-item">Tamara</a>
        </ul>
      </div>
  </div>
</div>


